/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


body {
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background-color: #FCFCFC;
}

// それぞれrowの間
.row {
    padding-top: 25px;
}

// ボタンの設定
.btn {
    padding: 10px 141px;
    border: 0 none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}


// bootstrapのprimaryの色
.btn-primary {
    background: #FF8856; //ボタンの背景色
    color: #FFFFFF; //ボタンのテキストの色
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #FF8856; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #FFFFFF; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

.actions {
    text-align: center;
}


// sign-up 画面
.signup-card {
    margin: 80px auto 100px;
}

.login-link {
    display: block;
    text-align: center;
}
.login-link:link {
    color: #C0C0C0;
}
.login-link:visited {
    color: #C0C0C0;
}
.login-link:hover {
    color: #C0C0C0;
}
.login-link:active {
    color: #C0C0C0;
}


// log-in 画面
.login-card {
    margin: 80px auto 100px;
}

.login-text {
    text-align: center;
    font-weight: bold;
}

.form-label {
    font-size: 12px;
    text-align: left;
}

.signup-link {
    display: block;
    text-align: center;
}
.signup-link:link {
    color: #C0C0C0;
}
.signup-link:visited {
    color: #C0C0C0;
}
.signup-link:hover {
    color: #C0C0C0;
}
.signup-link:active {
    color: #C0C0C0;
}


// shop-new 画面
.shopnew-card {
    margin: 50px auto 100px;
}

textarea {
    min-width: 350px;
    min-height: 70px;
    resize: vertical;
}


// shop-edit 画面
.shopedit-card {
    margin: 50px auto 100px;
}

.shopedit-btn {
    margin-top: 25px;
}


// sign-up log-in shop-new shop-edit user-edit 共通部分
.card-title {
	  text-align: center;
	  font-weight: bold;
}

input[type="text"],[type="email"],[type="password"] {
    width: 350px;
    height: 25px;
}

::-webkit-input-placeholder{
  	color: #ccc;
  	font-size: 12px;
}


// shop-index 画面
.genre-all {
    margin-left: 250px;
    margin-top: 5px;
}

.nav-pills .nav-link.active {
    background-color: #FCFCFC;
    text-align: center;
    font-size: 16px;
    color: #000000;
}
.genre-link:link {
    color: #808080;
}
.genre-link:visited {
    color: #808080;
}
.genre-link:hover {
    color: #808080;
}
.genre-link:active {
    color: #808080;
}
.index-col {
    padding-right: 20px;
}
.index-card {
    margin: 50px auto;
    border: none;
}
.index-card-body {
    padding: 7px 0 0 0 ;
    background-color: #FCFCFC;
}
.index-card-text {
    font-size: 18px;
    margin-bottom: 5px;
}
.genre-text {
    font-size: 12px;
}


// shop-show 画面
// Table
table {
    width: 100%;
}
th {
    width: 20%;
    text-align: center;
    padding: 15px 8px;
    background-color: #EEEEEE;

}
td {
    width: 80%;
    text-align: left;
    padding: 15px 8px;
    background-color: #FFFFFF;
}
th,td{
  border:solid 1px #DDDDDD;
  border-left: none;
  border-right: none;
}

// ボタン・各ボタン(一部about画面・top画面でも使用)
.btns {
    display: flex;
    justify-content: center;
}
.btns-btn {
    margin: 0 20px;
}

.btn-twitter {
    width: 150px;
    background-color: #1DA1F2;
    text-align: center;
    font-size: 15px;
    border-radius: 40px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}

.btn-facebook {
    width: 150px;
    background-color: #3B5998;
    text-align: center;
    font-size: 15px;
    border-radius: 40px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}
.btn-edit {
    width: 150px;
    background-color: #007700;
    text-align: center;
    font-size: 15px;
    border-radius: 40px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}
.btn-destroy {
    width: 150px;
    background-color: #AA0000;
    text-align: center;
    font-size: 15px;
    border-radius: 40px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}


// コメント機能
.comment {
    position: relative;
    padding-bottom: 15px;
    padding-left: 45px;
}
.comment-icon {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 40px;
    height: 40px;
}
.image-comment {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
.comment-name {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
.comment-info {
    font-size: 10px;
    font-weight: normal;
}
.comment-form {
    text-align: center;
    padding: 30px 30px;
}
.comment-if {
    text-align: center;
    font-size: 16px;
    padding: 30px 30px;
}
.comment-if-link:link {
    color: #C0C0C0;
}
.comment-if-link:visited {
    color: #C0C0C0;
}
.comment-if-link:hover {
    color: #C0C0C0;
}
.comment-if-link:active {
    color: #C0C0C0;
}


// user-edit 画面
.useredit-card {
    margin: 100px auto 120px;
}
// 全体
.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 300px;
}


// footer
.footer {
    position: absolute;
    bottom: 0; /*下に固定*/
    width: 100%;
    height: 125px;
    text-align: center;
    padding: 20px 0;
    background-color: #848282;
    font-size: 15px;
    color: white;
}

.footer-items {
    list-style: none;
}


// about画面
[data-ruby] {
    position: relative;
}

[data-ruby]::before {
    content: attr(data-ruby);
    position: absolute;
    top: -1em;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 0.5em;
    opacity: 0.5;
    letter-spacing: 0.5em;
    font-weight: normal;
}

.about-title {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-top: 20px;
}

.about-text {
    text-align: center;
    font-size: 20px;
    padding-top:30px;
}

.about-img {
    width: 500px;
    height: 500px;
    display: block;
    padding-top: 30px;
    margin: auto;
}

.about-btns {
    padding-top: 50px;
    padding-bottom: 30px;
}

.btn-login {
    width: 150px;
    background-color: #FF8856;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}

.btn-signup {
    width: 150px;
    background-color: #FF8856;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}

.btn-top {
    width: 150px;
    background-color: #2cb696;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}


// top画面
.top-title {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.top-text {
    text-align: center;
    font-size: 17px;
    padding-top:20px;
}

.img {
    text-align: center;
}

.top-img {
    width: 350px;
    height: 350px;
    display: inline-block;
    padding: 20px 15px 30px 15px;
    margin: auto;
    text-align: center;
}

.top-btns {
    padding-top: 50px;
    padding-bottom: 30px;
}

.btn-about {
    width: 150px;
    background-color: #2cb696;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}


// header
.logo {
    padding-left: 250px;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}

.header-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-blanck {
    padding-right: 250px;
}

.btn-shopnew {
    width: 100px;
    background-color: #FF8856;
    text-align: center;
    font-size: 12px;
    border-radius: 20px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
    margin-top: 15px;
}
.btn-shopnew:link {
    color: #FFFFFF;
}
.btn-shopnew:visited {
    color: #FFFFFF;
}
.btn-shopnew:hover {
    color: #FFFFFF;
}
.btn-shopnew:active {
    color: #FFFFFF;
}

.btn-header-signup {
    width: 100px;
    background-color: #FF8856;
    text-align: center;
    font-size: 12px;
    border-radius: 20px;
    padding: 7px 0px;
    margin-right: 10px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}
.btn-header-signup:link {
    color: #FFFFFF;
}
.btn-header-signup:visited {
    color: #FFFFFF;
}
.btn-header-signup:hover {
    color: #FFFFFF;
}
.btn-header-signup:active {
    color: #FFFFFF;
}

.btn-header-login {
    width: 100px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    border-radius: 20px;
    padding: 7px 0px;
    color: #FF8856;
    display: inline-block;
    border: solid 1px #FF8856;
}
.btn-header-login:link {
    color: #FF8856;
}
.btn-header-login:visited {
    color: #FF8856;
}
.btn-header-login:hover {
    color: #FF8856;
}
.btn-header-login:active {
    color: #FF8856;
}

