/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

body {
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background-color: #FCFCFC;
}

// それぞれrowの間
.row {
    padding-top: 20px;
}

// ボタンの設定
.btn {
    padding: 10px 141px;
    border: 0 none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}


// bootstrapのprimaryの色
.btn-primary {
    background: #FF8856; //ボタンの背景色
    color: #FFFFFF; //ボタンのテキストの色
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #FF8856; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #FFFFFF; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

.actions {
    text-align: center;
}


// sign-up 画面
.signup-card {
    margin: 80px auto 100px;
}

.login-link {
    display: block;
    text-align: center;
}
.login-link:link {
    color: #C0C0C0;
}
.login-link:visited {
    color: #C0C0C0;
}
.login-link:hover {
    color: #C0C0C0;
}
.login-link:active {
    color: #C0C0C0;
}


// log-in 画面
.login-card {
    margin: 80px auto 100px;
}

.login-text {
    text-align: center;
    font-weight: bold;
}

.form-label {
    font-size: 12px;
    text-align: left;
}

.signup-link {
    display: block;
    text-align: center;
}
.signup-link:link {
    color: #C0C0C0;
}
.signup-link:visited {
    color: #C0C0C0;
}
.signup-link:hover {
    color: #C0C0C0;
}
.signup-link:active {
    color: #C0C0C0;
}


// shop-new 画面
.shopnew-card {
    margin: 50px auto 100px;
}

textarea {
    min-width: 350px;
    min-height: 70px;
    resize: vertical;
}


// shop-edit 画面
.shopedit-card {
    margin: 50px auto 100px;
}

.shopedit-btn {
    margin-top: 25px;
}


// sign-up log-in shop-new shop-edit user-edit 共通部分
.card-title {
	  text-align: center;
	  font-weight: bold;
}

input[type="text"],[type="email"],[type="password"] {
    width: 350px;
    height: 25px;
}

::-webkit-input-placeholder{
  	color: #ccc;
  	font-size: 12px;
}


// shop-index 画面
.index-card {
    margin: 50px auto;
}

.genre-link:link {
    color: #000000;
}
.genre-link:visited {
    color: #000000;
}
.genre-link:hover {
    color: #000000;
}
.genre-link:active {
    color: #000000;
}

.nav-pills .nav-link.active {
    background-color: #9a2cb6;
}


// shop-show 画面
// Table
table{
    width: 100%;
}
table th{
    position: relative;
    text-align: left;
    width: 35%;
}
table th:after{
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #FF8856;
    position: absolute;
    top:calc(50% - 1px);
    right:20px;
}
table td{
    text-align: left;
    width: 85%;
}


// ボタン・各ボタン(一部about画面・top画面でも使用)
.btns {
    display: flex;
    justify-content: center;
}
.btns-btn {
    margin: 0 20px;
}

.btn-twitter {
    width: 150px;
    background-color: #1DA1F2;
    text-align: center;
    font-size: 15px;
    border-radius: 40px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}

.btn-facebook {
    width: 150px;
    background-color: #3B5998;
    text-align: center;
    font-size: 15px;
    border-radius: 40px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}

.btn-line {
    width: 150px;
    background-color: #5ae628;
    text-align: center;
    font-size: 15px;
    border-radius: 40px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}

// コメント機能
.comment-title {
    font-weight: bold;
}
// コメントの横棒
.comment-title::before{
    content: '';
    display: inline-block;
    background: #BD0404;
    height: 22px;
    width: 4px;
    margin-right: 6px;
}
// 吹き出し
.speech_bubble{
    position: relative;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #0888ff;
    margin-left: 110px;          /* 左に余白を設ける */
    margin-bottom: 10px;
}
// コメント機能のuserimage
.speech_bubble .icon{
    position: absolute;
    left: -110px;
    top: 0;
}
// 吹き出しの三角部分
.speech_bubble::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -15px;
    top: 20px;
    border-right: 15px solid #0888ff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
// 吹き出し内のコメント者と日時
.speech_bubble span {
    font-size: 8px;
}


// footer
.footer {
    height: 180px;
    text-align: center;
    padding: 50px 0;
    background-color: #848282;
    font-size: 15px;
    color: white;
}

.footer-items {
    list-style: none;
}


// about画面
[data-ruby] {
    position: relative;
}

[data-ruby]::before {
    content: attr(data-ruby);
    position: absolute;
    top: -1em;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 0.5em;
    opacity: 0.5;
    letter-spacing: 0.5em;
    font-weight: normal;
}

.about-title {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-top: 20px;
}

.about-text {
    text-align: center;
    font-size: 20px;
    padding-top:30px;
}

.about-img {
    width: 500px;
    height: 500px;
    display: block;
    padding-top: 30px;
    margin: auto;
}

.about-btns {
    padding-top: 50px;
    padding-bottom: 30px;
}

.btn-login {
    width: 150px;
    background-color: #FF8856;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}

.btn-signup {
    width: 150px;
    background-color: #FF8856;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}

.btn-top {
    width: 150px;
    background-color: #2cb696;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}


// top画面
.top-title {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.top-text {
    text-align: center;
    font-size: 17px;
    padding-top:20px;
}

.img {
    text-align: center;
}

.top-img {
    width: 350px;
    height: 350px;
    display: inline-block;
    padding: 20px 15px 30px 15px;
    margin: auto;
    text-align: center;
}

.top-btns {
    padding-top: 50px;
    padding-bottom: 30px;
}

.btn-about {
    width: 150px;
    background-color: #2cb696;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}
