/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

// bootstrapのprimaryの色
.btn-primary {
    background: #FF8856; //ボタンの背景色
    color: #FFFFFF; //ボタンのテキストの色
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #FF8856; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #FFFFFF; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

// ボタンの設定
.btn {
    padding: 10px 141px;
    border: 0 none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.actions {
	text-align: center;
}

// sign-up log-in user-edit shop-new 画面

.link {
	text-align: center;
}

.card {
	margin: 100px auto;
}
.card-title {
	text-align: center;
	font-weight: bold;
}
input[type="text"],[type="email"],[type="password"] {
    width: 350px;
    height: 25px;
}

::-webkit-input-placeholder{
  	color: #ccc;
  	font-size: 12px;
}

// log-in画面
.login-text {
	text-align: center;
	font-weight: bold;
}
.form-label {
	font-size: 12px;
	text-align: left;
}

// shop-new 画面
textarea {
    min-width: 350px;
    min-height: 70px;
    resize: vertical; 
}

// shop-show 画面
// Table
table{
  width: 100%;
}

table th{
  position: relative;
  text-align: left;
  width: 35%;
}

table th:after{
  display: block;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #FF8856;
  position: absolute;
  top:calc(50% - 1px);
  right:20px;
}

table td{
  text-align: left;
  width: 85%;
}
// ボタン・各ボタン
.btns {
    display: flex;
    justify-content: center;
}
.btns-btn {
    margin: 0 20px;
}
.btn-twitter {
    width: 150px;
    background-color: #1DA1F2;
    text-align: center;
    font-size: 15px;
    border-radius: 40px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}
.btn-facebook {
    width: 150px;
    background-color: #3B5998;
    text-align: center;
    font-size: 15px;
    border-radius: 40px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}
.btn-line {
    width: 150px;
    background-color: #5ae628;
    text-align: center;
    font-size: 15px;
    border-radius: 40px;
    padding: 7px 0px;
    color: #FFFFFF;
    display: inline-block;
    border-style: none;
}
// それぞれrowの間
.row {
    padding-top: 20px;
}
